.section-about {
    background-color: $color-grey-light-1;
    padding: 25rem 0;
    margin-top: -20vh;

    &__info {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
        grid-gap: $gutter-horizontal $gutter-vertical;

        max-width: 114rem;
        margin: 0 auto;
    }
}

.section-features {
    padding: 20rem 0;
    margin-top: -9rem;
    background-image: 
                    linear-gradient(to right bottom,rgba($color-primary-light, .8), rgba($color-primary-dark, 0.8)), 
                    url('../img/nat-4.jpg');
    background-size: cover;
    transform: skewY(-7deg);

    &__container {
        display: grid;
        grid-template-columns: repeat(4, minmax(20rem, 1fr));
        grid-gap: $gutter-horizontal $gutter-vertical;

        max-width: 114rem;
        margin: 0 auto;
    }

    & > * {
        transform: skewY(7deg);
    }
}