.footer {
    background-color: $color-grey-dark-2;
    padding: 10rem 0;
    font-size: 1.4rem;

    @include respond(tab) {
        padding: 8rem 0;
    }

    &__logo-box {
        text-align: center;
    }
    &__logo {
        width: 15rem;

        @include respond(phone) {
            width: 10rem;
        }
    }

    &__navigation {
        width: 80%;
        border-top: 1px solid $color-grey-light-2;
        padding: 2rem;
        margin: 0 auto;

        @include respond(tab) {
            padding: 1rem;
        }
    }
    &__list {
        display: flex;
        justify-content: space-around;

        list-style: none;

        @include respond(phone) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__link {
        &:link,
        &:visited {
            color: $color-grey-light-1;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .3s;

            @include respond(phone) {
                margin: 1rem 0;
            }
        }

        &:hover,
        &:active {
            color: $color-primary;
            box-shadow: 0 1rem 2rem rgba($color-black, .4);
            transform: rotate(5deg) scale(1.3);
        }
    }

    &__copyright {
        text-align: center;
    }
}